parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    ignoreErrors:
        - '#no value type specified in iterable type array#'
